body {
  background-color: #fdfbf6;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #333;
}

h1 {
  color: #6ea8d7;
  margin-top: 50px;
}

button {
  background-color: #5bae7c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #4b8e66;
}
